<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title> Kent Martin </title>

        <meta name="description" content="blog">
        <meta name="author" content="Kent Martin Åsvang">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/vendor/normalize.css">
        <link rel="stylesheet" type="text/css" href="/vendor/skeleton.css">

    </head>
    <body>
        <header class="container">
            <div class="row">
                <h1> Kent Martin's Blog </h1>
            </div>
            <div class="row">
                <p> I will start a blog eventually. </p>
            </div>
        </header>
    </body>

</html>
